body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.headerWrapper{
  width: 100%;
  height: 70px;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(70, 190, 230);
}
.appWrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #da8fe4;
}
.footerWrapper{
  width: 100%;
  padding: 16px;
  background-color: rgb(70, 190, 230);
  border: 1px solid rgb(0, 0, 0);
  margin-top: auto;
  display: flex;
  justify-content: center;
}
.mainWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
  padding-top: 32px;
}
.listWrapper{
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0px 10px;
  border-radius: 10px;
}
.doneBtn{
  border: 1px solid rgb(0, 0, 0);
  background-color: #da8fe4;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}
.doneBtn:hover{
  border: 1px solid #da8fe4;;
  background-color: rgb(0, 0, 0);
  color: #da8fe4;;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}
.deleteBtn{
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(240, 62, 62);
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}
.deleteBtn:hover{
  border: 1px solid rgb(240, 62, 62);
  background-color: rgb(0, 0, 0);
  color: rgb(240, 62, 62);
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.form{
  width: 100%;
}
