/* .header{
    background-color: rgb(197, 87, 87);
    color: black;
}
.main{
    background-color: aqua;
    color: black;
}
.footer{
    background-color: antiquewhite;
    color: brown;
} */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    /* overflow: hidden; */
}

.wrapper {
    
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    gap: 32;
    position: relative;
    background-color: #fa7c7c;
}

.header {
    width: 100%;
    text-align: center;
    
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 20px;
}

.tourWrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid goldenrod;
    width: 300px;
    height: auto;
    background-color: rgb(105, 181, 247);
    color: red;
    margin: 10px
}
.tourWrapper img {
    width: 300px;
    height: 200px;
}
.tourBottom{
    width: 100%;
    text-align: center;
}
.footer{
    display: flex;
    border-top: 1px solid red;
    border-bottom: 1px solid rebeccapurple;
    /* position: absolute; */
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    bottom: 25px;
    left: 45%;
    background-color: antiquewhite;
    color: red; 
}
.renderList{
    display: flex;
    flex-direction: column;
    gap: 32;
    padding: 10px;
}

.order{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: red;
    color: white;
}
.grey{
    color: grey;
}