html{
    background-color: rgb(127, 178, 255);
}
body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(250, 77, 77);
    align-content: center;
}

header{
    border: black 1px solid;
    text-align: center;
}

img {
    width: 800px;
    height: auto;
}
p{
    display: inline;
    justify-content: center;
    align-items: center;

}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-button{
    position: fixed;
    right: 20px;
    bottom: 50px;
    background-color: rgb(167, 207, 243);
    padding: 20px;
    border:  2px black solid;
    box-shadow: 10px 5px 10px 5px black;
}

.top-button:hover{
    background-color: chartreuse;
    box-shadow: 20px 20px 20px 20px rgb(251, 255, 1);
}

.colors{
    border: 1px solid gold;
    background-color: aliceblue;
}

.color{
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 50px;
}
.color-purple{
    background-color: purple;
    box-shadow: 2px 3px 3px 2px purple;
}
.color-gold{
    background-color: gold;
    box-shadow: 2px 3px 3px 2px gold;
}
.color-pink{
    background-color: pink;
    box-shadow: 2px 3px 3px 2px pink;
}
.color-green{
    background-color: green;
    box-shadow: 2px 3px 3px 2px green;
}